.pickerContainer {
  height: 100px;
  width: 77%;
}

.pickerItem {
  line-height: 40px;
}

.row {
  align-items: center;
  border-bottom: 1px solid var(--color-border-2);
  display: flex;
  padding: 10px 0;
}

.classRoom {
  flex-shrink: 0;
  max-width: 100px;
  width: 100px;
}

.cell {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
