page {
  background: var(--color-bg-1);
  padding: 0;
}

.rewardImg {
  height: 563px;
  width: 497px;
  zoom: 0.6;
}

.tipsReward {
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
}

.nav {
  color: rgb(var(--arcoblue-6));
  font-size: 17px;
  margin-top: 30px;
  text-decoration: underline;
}
