@import '../../styles/variable.scss';

.container {
  background-color: var(--color-bg-2);
}

.head {
  @include flex-justify-between;
  @include flex-align-center;

  border-bottom: 1px solid var(--color-border-2);
  box-sizing: border-box;
  padding: 10px 8px 8px;

  .left {
    display: flex;
  }

  .vertical {
    margin: 2px 5px;
    width: 2px;
  }

  .title {
    align-self: center;
  }
}

.card {
  box-sizing: border-box;
  // 是否需要考虑偶数字号
  font-size: 13px;
  margin-bottom: 10px;
  padding: 10px;
}
