@keyframes arise {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

.container {
  align-items: center;
  animation: arise 0.2s;
  background-color: rgba(61, 61, 61, 0.5);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.member {
  background-color: var(--color-bg-2);
  border-radius: 3px;
  font-size: 13px;
  padding: 10px;
  position: relative;
}

.close {
  background-color: var(--color-text-2);
  border-radius: 50%;
  height: 15px;
  position: absolute;
  right: -6px;
  top: -6px;
  width: 15px;
  z-index: 100;
}

.iconX {
  color: var(--color-border-1);
  font-size: 10px;
}
