page {
  background: #fff;
}

.status {
  color: #aaa;
  font-size: 80px;
  margin-top: 10px;
  text-align: center;
}

.back {
  color: #aaa;
  font-size: 15px;
  margin-top: 20px;
  text-align: center;
}
