.weekUnit {
  font-size: 10px;
  padding: 5px 0 1px;
  text-align: center;
  width: 100%;

  .line {
    font-size: 8px;
    padding: 3px 0;
  }

  .border {
    border-bottom: 3px solid transparent;
  }

  .active {
    border-color: var(--color-border-2);
  }
}

.dialog {
  width: 300px;
}

.placeholder {
  min-height: 130px;
}

.tableBlock {
  border-radius: 2px;
  box-sizing: border-box;
  color: #fff;
  font-size: 12px;
  height: 100%;
  margin: 0 1.5px;
  padding: 3px;
  position: relative;
  word-break: break-all;
}

.triangle {
  border-left: 13px solid transparent;
  border-top: 13px solid rgba(255, 255, 255, 0.8);
  height: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
}
